<div id="gridList">
    <button mat-raised-button class="mat-primary" [routerLink]="['/grid/new']">{{ strings.add }}</button>
    <table mat-table [dataSource]="grids" class="mat-elevation-z8">
        <!-- Grid Name Column -->
        <ng-container matColumnDef="gridName">
          <th mat-header-cell *matHeaderCellDef>{{ strings.gridName }}</th>
          <td mat-cell *matCellDef="let element"> 
            <a [routerLink]="['/grid/' + element.id]">{{ element.gridName }}</a>
        </td>
        </ng-container>
      
        <!-- Created On Column -->
        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef>{{ strings.createdOn }}</th>
          <td mat-cell *matCellDef="let element">{{ element.createdOn | date:'dd-MM-yyy HH:mm:ss' }}</td>
        </ng-container>
      
        <!-- Modified On Column -->
        <ng-container matColumnDef="modifiedOn">
          <th mat-header-cell *matHeaderCellDef>{{ strings.modifiedOn }}</th>
          <td mat-cell *matCellDef="let element">{{ element.modifiedOn | date:'dd-MM-yyy HH:mm:ss' }}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="gridTableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: gridTableColumns;"></tr>
      </table>
</div>
