<div id="channelDetails" class="row">
    <div class="row col-md-12 title">
        <h4 *ngIf="!channelId">{{ strings.add }}</h4>
        <ng-container *ngIf="channelId">
            <h4 class="col-md-6">{{ strings.edit + channel?.name }}</h4>
            <div class="col-md-6 ">
                <button mat-raised-button class="mat-primary" [routerLink]="['/channel/new']">{{ strings.add }}</button>
            </div>
        </ng-container>
    </div>
    <div class="row col-md-12">
        <div class="col-md-3">
            <app-image-upload [(imageSrc)]="logo"></app-image-upload>
            <div class="error" *ngIf="showLogoError && !logo.length">
                <span class="material-icons icon-image-preview">error_outline</span>
                <span>{{ strings.errorLogo }}</span>
            </div>
        </div>
        <form class="col-md-9 code-name" [formGroup]="channelForm">
            <!-- Code / Name -->
            <div class="row">
                <mat-form-field class="col-md-4">
                    <mat-label>{{ strings.code }}</mat-label>
                    <input matInput formControlName="code" maxlength="6">
                </mat-form-field>
                <mat-form-field class="col-md-8">
                    <mat-label>{{ strings.name }}</mat-label>
                    <input matInput formControlName="name" maxlength="50">
                </mat-form-field>
            </div>

            <!-- Description -->
            <div class="row">
                <mat-form-field class="col-md-12">
                    <mat-label>{{ strings.desc }}</mat-label>
                    <textarea matInput formControlName="desc"></textarea>
                </mat-form-field>
            </div>
            
            <!-- Info URL -->
            <div class="row">
                <mat-form-field class="col-md-6">
                    <mat-label>{{ strings.enUrl }}</mat-label>
                    <input matInput formControlName="enUrl">
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <mat-label>{{ strings.esUrl }}</mat-label>
                    <input matInput formControlName="esUrl">
                </mat-form-field>
            </div>

            <!-- Category / Resolution-->
            <div class="row">
                <mat-form-field class="col-md-6">
                    <mat-label>{{ strings.category }}</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categories" [value]="category.id">
                            {{ lang == 'en' ? category.englishName : category.spanishName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <mat-label>{{ strings.resolution }}</mat-label>
                    <mat-select multiple formControlName="resolutions">
                        <mat-option *ngFor="let resolution of resolutions" [value]="resolution.code">{{ resolution.desc }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Discontinued -->
            <mat-checkbox formControlName="discontinued">{{ strings.discontinued }}</mat-checkbox>
            
            <!-- Save Button -->
            <div class="row save-button">
                <div class="error" *ngIf="showFieldError && !channelForm.valid">
                    <span class="material-icons icon-image-preview">error_outline</span>
                    <span>{{ strings.errorFields }}</span>
                </div>
                <button mat-raised-button class="mat-primary" (click)="save()">{{ strings.save }}</button>
            </div>
        </form>
    </div>
</div>